.intakeTitle {
  margin: 40px 20px 42px 20px;
}

.rateBox {
  display: flex;
  align-items: flex-end;
  padding-bottom: 32px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  justify-content: center;
}

.dailyRate {
  color: var(--dark-gray);
  line-height: 1;
  margin-right: 5px;
}

.unit {
  font-size: 14px;
  font-weight: 700;
  color: var(--dark-gray);
  padding-bottom: 4px;
}

.divider {
  border: none;
  margin: 10px 0 20px 0;
  width: 100%;
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  color: var(--dark-gray);
  margin-top: 10px;
  margin-bottom: 10px;
}

.foodList {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 20px;
  margin-bottom: 40px;
}

.foodItem {
  font-size: 14px;
  color: var(--dark-gray);
  line-height: 1.5;
  margin-left: 5px;
}

.noFoodItem {
  font-size: 14px;
  color: var(--light-gray);
  list-style: none;
  margin-left: 0;
}

.intakeButtonFix {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 210px;
  padding: 10px 20px;
  height: auto;
  min-height: 43px;
}

@media (min-width: 768px) {
  .intakeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
    max-width: none;
    margin: auto;
  }
  .intakeTitle {
    margin: 24px 20px 20px 20px;
  }
.divider {
    margin-bottom: 0px;
}
  .subtitle {
    align-self: center;
  }

  .foodList {
    list-style-position: outside;
    padding-left: 32px;
    text-align: left;
    margin: 0 auto 40px;
    width: fit-content;
  }

  .intakeButtonFix {
    margin: 0 auto 80px;
  }
}
@media (min-width: 1280px) {
  .intakeBody {
    width: 550px;
    padding: 0;
  }
  .intakeTitle {
    margin-top: 64px;
  }
  .subtitle {
    align-self: center;
    margin-bottom: 20px;
  }

  .foodList {
    list-style-position: outside;
    padding-left: 32px;
    text-align: left;
    margin: 0 auto 40px;
    width: fit-content;
  }

  .intakeButtonFix {
    margin: 0 auto 82px;
  }
  .divider {
    margin-bottom: 12px;
  }
  .foodItem {
    line-height: 2;
  }
}