.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eff1f3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalWrapper {
  width: 100%;
  height: 90%;
  background-color: #fff;
  margin-top: 80px;
}

.topBar {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #eff1f3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  z-index: 10;
}

.closeButtonMobile {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.closeIcon {
  width: 20px;
  height: 20px;
  stroke: #264061;
}
.closeButtonDesktop {
  display: none;
}

.modalContent {
  height: auto;
  padding: 0 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .topBar {
    display: none;
  }
  .closeXIcon {
    width: 24px;
    height: 24px;
    stroke: #000;
  }
  .closeButtonDesktop {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  .modalWrapper {
    position: relative;
    width: 100%;
    max-width: 672px;
    height: auto;
    max-height: 90vh;
    overflow: hidden;
  }

  .modalContent {
    padding: 40px 60px;
    min-height: auto;
  }
}

@media (min-width: 1280px){
    .modalContent {
        padding: 0px 80px;
    }
    .modalWrapper {
        margin-top: 0; 
        position: relative;
        width: 100%;
        max-width: 750px;
        height: auto;
        max-height: 90vh;
        overflow: hidden;
    }
}
