
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    background-color: #fff;
    height: 90%;
    margin-top: 80px;
}

@media (min-width: 768px) {
    .modalContent {
        max-width: 600px;
        padding: 40px 60px;
    }
}