.header {
  border-bottom: 2px solid var(--light-gray);
  padding: 20px;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 44px;
  margin: 0 auto;
}

.headerText {
  display: flex;
  gap: 14px;
}

@media (min-width: 768px) {
  .headerWrapper {
    width: 704px;
  }
}

@media (min-width: 1280px) {
  .header {
    border-bottom: none;
    padding: 0;
    padding-top: 80px;
    position: absolute;
    background-color: transparent;
  }

  .headerWrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    justify-content: flex-start;
    background-color: transparent;
    align-items: flex-end;
  }

  .headerText {
    border-left: 2px solid var(--light-gray);
    padding-left: 20px;
    height: 32px;
    display: flex;
    align-items: center;
  }
}
